@import "less/bootstrap.less";

@red: #F44336;
@lightred: #D84336;
@grey: #727272;
@lightgrey: #e9e9e9;
@darkgrey: #222;

@bg1: #861189;
@bg2: #c67625;
@tc1: #121513;
@tc2: #d39fcf;
@lc1: #858d7f;
@lc2: #cf5e65;
@tmp1: #01486a;
@tmp2: #354a44;

body {
	padding:50px;
	color:@tc1;
    background: @bg1;
	font-size:16px;
}

#root {
    background: @bg2;
    padding: 25px;

    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;

        a {
            text-decoration: none;
            color: lc1;

            &:hover {
                color: @lc2;
            }
        }
    }

    p {
        padding: 25px;
        margin: 25px auto;
        background: @bg1;
        color: @tc2;
        width: 60%;
    }

    table {
        tr {
            th, td {
                padding: 4px 10px;
                &.id {
                    width: 25px;
                }
                &.customer {
                    width: 180px;
                }
                &.text {
                    width: 450px;
                }
                &.note {
                    width: 450px;
                }
            }
        }
    }

}


